# Folders
research/
built/
build/
classes/
lib/
bak/
env/
target/
test/fitnesse/FitNesseRoot/ErrorLogs/
test/fitnesse/FitNesseRoot/FitNesse/
test/fitnesse/FitNesseRoot/RecentChanges/
test/fitnesse/FitNesseRoot/files/testProgress/
test/fitnesse/FitNesseRoot/files/testResults/
test/fitnesse/FitNesseRoot/files/testHistory/
test/fitnesse/FirefoxProfile/

*.*~
*~
.coverage
*.bak
plot_error.log
*.tar.gz
fitnesse.jar
.classpath
.project
.settings
FitNesseRoot/properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
chromedriver.log
