# Folders
research/
built/
build/
classes/
lib/
bak/
env/
target/
FitNesseRoot/ErrorLogs/
FitNesseRoot/FitNesse/
FitNesseRoot/PageFooter/
FitNesseRoot/PageHeader/
FitNesseRoot/RecentChanges/
FitNesseRoot/files/
FirefoxProfile/

*.*~
*~
.coverage
*.bak
plot_error.log
*.tar.gz
fitnesse.jar
.classpath
.project
.settings
FitNesseRoot/properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
chromedriver.log
