.PageTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #00306C;
	font-weight: bold;
}
.PageTitleWht {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
.BodyCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.BodyCopyWht {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003399;
	text-decoration: underline;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	text-decoration: underline;
}
hr {
	color: #003399;
}
.SubHead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #00306c;
	text-transform: uppercase;
}
#page-container {
	width: 100%;
	margin: auto;
	background: white;
}
#mainContent{
	float: right;
	clear: left;
	margin: 10px;
	background: white;
}
#header {
	height: 96px;
}
#footer {
	height: 19px;
	width: 100%;
	clear: both;
}
#middle {
	background: white;
	width: 800px;
}
.hidden {
	display: none;
}
#container{
	margin-right: auto;
	margin-left: auto;
	height: 670px;
	width: 766px;
}
.BodyCopy strong red {
	color: #F00;
}
.RedEmphasis {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F00;
	text-decoration: none;
}
.BodyCopy {
	font-weight: normal;
}
.FolderBullet {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	list-style-image: url(/Images/listfolder.png);
}
.FileBullet {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	list-style-image: url(/Images/listdoc.png);
	color: #333333;
}
.back {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #00306c;
}
.FolderBulletSub {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	list-style-image: url(/Images/listfolder.png);
}
.ParkDisclaim {
	color: #F00;
	font-size: 9px;
	font-weight: bold;
}
